@import "reset.css";

* {
    box-sizing: border-box;
}

.main-nav-list {
    font-family: sans-serif;
    font-size: 0;
    margin: 1.5rem;
}

.nav-item {
    background-color: rgb(22, 159, 107);
    border: 1px solid rgb(21, 133, 91);
}

.main-nav-item {
    display: inline-block;
    position: relative;
}

.nav-link {
    font-size: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 150px;
    padding: 17px 0;
}

.main-nav-link {
    display: inline-block;
}

.nav-item:hover {
    background-color: rgb(21, 133, 91);
}

.level1-nav-list {
    position: absolute;
    top: 100%;
}

.level1-nav-item {
    display: none;
}

.level1-nav-link {
    display: block;
}

.main-nav-item:hover .level1-nav-item {
    display: block;
}

.level2-nav-list {
    display: none;
    position: absolute;
    left: 100%;
    top: 52px;
}

.level2-nav-link {
    display: block;
}

li.level1-nav-item:hover > .level2-nav-list {
    display: block;
}

p {
    margin: 3em 1.5em;
    line-height: 1.5em;
}