@import "reset.css";

* {
    box-sizing: border-box;
}

.main-nav-list {
    font-family: sans-serif;
    font-size: 0;
}

.nav-item {
    background-color: rgb(22,159,107);
    border: 1px solid rgb(21,133,91);

}

.main-nav-item {
    display: inline-block;
}

.nav-link {
    font-size: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 150px;
    padding: 17px;
}

.main-nav-link {
    display: inline-block;
}